@import "nullstyle.css";
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900,900italic);

.wrapper {
	min-height: 100%;
	overflow: hidden;
	font-family: "Roboto";
}
/* ---------------------------premier----------------------------- */
.premier {
	min-width: 100%;
	background: url("../img/header/Image.jpg") 0 0/100% no-repeat;
	position: relative;
	z-index: 5;
}
[class*="__container"] {
	max-width: 1020px;
	margin: 0px auto;
}
.premier__container {
	min-height: 800px;
}
.premier__header {
	padding: 25px 0px 0px 0px;
}
.premier__top {
	display: flex;
	justify-content: space-between;
	color: #ffffff;
	letter-spacing: 0.15px;
	font-size: 12px;
	line-height: 1.833;
	margin: 0px 0px 28px 0px;
}
.premier__logo {
}
.premier__bond {
	display: flex;
}
.bond-premier {
}
.bond-premier > *:not(:last-child) {
	margin: 0px 30px 0px 0px;
}
.bond-premier__time {
	display: flex;
}
.bond-premier__logo {
	margin: -12px 10px 0px 0px;
}
.bond-premier__body {
	font-weight: 700;
}
.bond-premier__body_fw {
	font-weight: 500;
}
.bond-premier__title {
}
.bond-premier__subtitle {
}
.bond-premier__call {
}
.bond-premier__button {
	display: flex;
	width: 211px;
	height: 40px;
	background: #f2726f;
	border-radius: 8px;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #fff;
}
.premier__bottom {
	max-width: 1020px;
	height: 60px;
	background-color: #fff;
	border-radius: 10px;
	margin: 0px 0px 126px 0px;
}

.premier__menu {
	padding: 18px 0px 0px 40px;
	display: flex;
	justify-content: space-between;
}
.premier__list {
	display: flex;
}

.premier__item {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.833;
	letter-spacing: 0.15px;
}
.premier__link {
	color: inherit;
}

.premier__item:not(:last-child) {
	margin: 0px 37px 0px 0px;
}
.premier__item:first-child::after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	background: url("../img/header/icon/expand.svg") 0 0 no-repeat;
	position: relative;
	top: -22px;
	right: -57px;
}
.premier__item:nth-child(5)::after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	background: url("../img/header/icon/expand.svg") 0 0 no-repeat;
	position: relative;
	top: -22px;
	right: -35px;
}
.premier__icons {
}
.premier__search {
	margin: 0px 22px 0px 0px;
}
.premier__buy {
	margin: 0px 48px 0px 0px;
}
.premier__icons::after {
	content: "2";
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #f2726f;
	color: #fff;
	font-weight: 500;
	font-size: 10px;
	line-height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	bottom: 30px;
	right: -66px;
	margin: 0px 0px 10px 0px;
}
.premier__title {
	font-weight: 900;
	font-size: 56px;
	line-height: 56px;
	color: #ffffff;
	margin: 0px 0px 48px 0px;
}
.button {
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #ffffff;
	background: #f2726f;
	width: 210px;
	height: 48px;
	border-radius: 8px;
}
/* ---------------about----------------------------- */
.about {
	background: #f5f5f5;
	padding: 0px 0px 121px 0px;
}
/* --------------------nemo------------------------- */
.nemo {
	position: relative;

	margin: -80px 0px 0px 0px;
}
.nemo__container {
	background: #5d62b5;
	border-radius: 40px;
	min-height: 720px;
	position: relative;
	z-index: 30;
}
.nemo__circles {
	position: absolute;
	left: 898px;
	top: -110px;
}
.nemo__body {
	padding: 100px 0px 0px 87px;
}
.nemo__subtitle {
	margin: 0px 0px 34px 0px;
}
.subtitle {
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #f5f5f5;
}
.subtitle::before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("../img/nemo/icons/Mark.svg") -5px -6px no-repeat;
	margin: 0px 16px 0px 0px;
	position: relative;
	top: 4px;
}
.nemo__title {
	margin: 0px 0px 36px 0px;
}
.title {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16;
	color: #ffffff;
}
.nemo__text {
	font-size: 16px;
	line-height: 1.8333;
	letter-spacing: 0.15px;
	color: #f5f5f5;
	margin: 0px 87px 0px 0px;
}
.nemo__bulb {
	position: absolute;
	top: 270px;
	left: -20px;
}
.nemo__img {
}
.nemo__dog {
	position: absolute;
	border-radius: 40px;
	top: 415px;
}

/* -----------------------sed-------------------------- */
.sed {
}
.sed__container {
}
.sed__subtitle {
	padding: 230px 0px 0px 0px;
	margin: 0px 0px 33px 0px;
}
.subtitle {
}
.subtitle_purple {
	color: #5d62b5;
}
.subtitle_purple::before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("../img/sed/icons/mark.svg") -5px -6px no-repeat;
	margin: 0px 16px 0px 0px;
	position: relative;
	top: 4px;
}
.sed__title {
	margin: 0px 0px 68px 0px;
}
.title {
}
.title_black {
	color: #000000;
}
.sed__row {
	display: flex;
}
.sed__columns {
	flex: 0 0 33.333%;
	margin: 0px -12px;
}
.sed__column {
	display: flex;
	padding: 0px 12px;
}
.sed__image {
	margin: 0px 23px 0px 0px;
	width: 63px;
	height: 63px;
}
.sed__body {
}
.sed__label {
	font-weight: 900;
	font-size: 19px;
	line-height: 1.37;
	color: #f2726f;
	margin: 0px 0px 20px 0px;
}
.sed__text {
	font-size: 16px;
	line-height: 1.8333;
	letter-spacing: 0.15px;
	color: #4b4b4b;
}
/* --------------------------green-dog----------------------------- */
.dog-green {
	background: #29c3be;
	min-height: 500px;
}
.dog-green__container {
	padding: 112px 0px 0px 0px;
	position: relative;
}
.dog__green__content {
	position: absolute;
	left: 610px;
	z-index: 552;
}
.dog-green__dog {
	position: absolute;
	flex: 0 0 744px;
	top: 45px;
	left: -210px;
	z-index: 555;
}
.dog-green__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.1666;
	color: #ffffff;
	margin: 0px 0px 42px 0px;
}
.dog-green__button {
}
.button {
}
.dog-green__blob {
	position: absolute;
	bottom: -136px;
	right: 850px;
	z-index: 554;
}
.dog-green__circles {
	position: absolute;
	bottom: -326px;
	right: 1022px;
	z-index: 553;
}
.dog-green__line {
	position: absolute;
	top: 0px;
	left: 540px;
	z-index: 0;
}
.dog-green__ball {
	position: absolute;
	top: 112px;
	left: 1050px;
	z-index: 0;
}
/* ---------------------------perspiciatis-------------------------- */
.perspiciatis {
	background: #f5f5f5;
	padding: 110px 0px 115px 0px;
	overflow: hidden;
}
.perspiciatis__container {
	position: relative;
}
.perspiciatis__subtitle {
	margin: 0px 0px 33px 0px;
}
.perspiciatis__title {
	margin: 0px 0px 78px 0px;
}
.perspiciatis__cards {
	margin: 0px 0px 66px 0px;
}
.perspiciatis__row {
	display: flex;
	flex-wrap: wrap;
	margin: -12px -12px;
}
.perspiciatis__columns {
	flex: 0 1 33.333%;
	padding: 12px 12px;
}
.perspiciatis__card {
	background: #ffffff;
	border-radius: 20px;
	padding: 50px 43px;
	text-align: center;
	z-index: 559;
	position: relative;
}

.perspiciatis__image {
	margin: 0px 0px 33px 0px;
}
.perspiciatis__label {
	font-weight: 900;
	font-size: 19px;
	line-height: 1.368;
	color: #f2726f;
	margin: 0px 0px 20px 0px;
}
.perspiciatis__text {
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.15px;
	color: #4b4b4b;
}
.perspiciatis__button {
	display: flex;
	justify-content: center;
}
.perspiciatis__link {
	max-width: 148px;
}
.perspiciatis__bulb {
	position: absolute;
	bottom: 240px;
	left: 610px;
}
/* -----------------------------maxime--------------------------- */
.maxime {
	background: url("../img//maxime/bg.jpg") 0 0/100% no-repeat;
	position: relative;
	z-index: 6;
}
.maxime__container {
	min-height: 980px;
	position: relative;
}
.maxime__circles {
	position: absolute;
	z-index: 1;
	top: 242px;
	right: 780px;
}
.maxime__bolb {
	position: absolute;
	z-index: 5;
	top: -12px;
	right: 315px;
}
.maxime__content {
	display: flex;
	justify-content: space-between;
	padding: 130px 0px 0px 0px;
}
.maxime__customers {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.maxime__title {
	color: #ffffff;
	font-weight: 900;
	font-size: 30px;
	line-height: 1.2;
	margin: 0px 0px 46px 0px;
}
.maxime__number {
	font-weight: 900;
	font-size: 96px;
	line-height: 0.58333;
	color: #ffffff;
	margin: 0px 0px 46px 0px;
}
.maxime__text {
	font-weight: 900;
	font-size: 19px;
	line-height: 1.36;
	color: #ffffff;
}
.maxime__form {
	max-width: 585px;
	min-height: 640px;
	background-color: #5d62b5;
	border-radius: 40px;
	padding: 0px 57px;
	z-index: 55;
}
.maxime__label {
	padding: 76px 0px 0px 0px;
	text-align: center;
	margin: 0px 0px 48px 0px;
}

.maxime__row {
}

.maxime__colomns {
	display: flex;
	flex-wrap: wrap;
	margin: -11.22px -11.22px;
}
.maxime__colomn {
	flex: 0 1 50%;
	padding: 11.22px 11.22px;
}
.maxime__item {
	border: 2px solid #ffffff;
	width: 224px;
	height: 48px;
	border-radius: 10px;
	background-color: #5d62b5;
}
.maxime__item_big {
	width: 470px;
	min-height: 180px;
	margin: 0px 0px 30px 0px;
}

input {
	color: #ffffff;
	padding: 0px 24px;
	opacity: 0.8;
}
textarea {
	color: #ffffff;
	opacity: 0.8;
	padding: 15px;
	resize: none;
}
::placeholder {
	color: #ffffff;
}
.maxime__button {
	display: flex;
	justify-content: right;
	padding: 0px 0px 76px 0px;
}
.button {
}
.maxime__title {
}
.maxime__number {
}
.maxime__text {
}
/* ------------------------------illum----------------------------- */
.illum {
	background: #f5f5f5;
	padding: 0px 0px 210px 0px;
}
.illum__container {
	position: relative;
}
.illum__bobl {
	position: absolute;
	top: -100px;
	left: -250px;
	z-index: 1;
}
/* -------------------------------check---------------------------------- */
.check {
	position: relative;
	z-index: 8;
	margin: -80px 0px 0px 0px;
}
.check__container {
	min-height: 700px;
	background: #5d62b5;
	border-radius: 40px;
	padding: 0px 87px;
}
.check__subtitle {
	padding: 100px 0px 0px 0px;
	margin: 0px 0px 33px 0px;
}
.check__title {
	margin: 0px 0px 55px 0px;
}
.check__list {
	display: flex;
	justify-content: space-around;
	position: relative;
}
.check__list::after {
	content: "";
	position: absolute;
	top: 30px;
	width: 100%;
	height: 1px;
	border: 1px solid #d8d8d8;
	opacity: 0.1;
}
.check__item {
}
.check__link {
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.15px;
	color: #ffffff;
}
.check__dog {
	position: relative;
	top: 70px;

	border-radius: 40px;
}
/* ----------------------------------dolorem------------------------------------ */
.dolorem {
	padding: 160px 0px 0px 0px;
	position: relative;
	z-index: 4;
}
.dolorem__container {
}
.dolorem__row {
	display: flex;
	margin: 0px -12px;
}
.dolorem__column {
	padding: 0px 12px;
}
.dolorem__subtitle {
	margin: 0px 0px 33px 0px;
}
.dolorem__title {
}
.dolorem__card {
	width: 324px;
	min-height: 340px;
	background: #ffffff;
	border-radius: 20px;
	padding: 45px;
}
.dolorem__text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #4b4b4b;
	margin: 0px 0px 40px 0px;
}
.dolorem__humman {
	display: flex;
}
.dolorem__ava {
	margin: 0px 17px 0px 0px;
}
.dolorem__name {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.15px;
	color: #f2726f;
	display: flex;
	align-items: center;
}
/* --------------------------------ispam---------------------------------------- */
.ispam {
	z-index: 2;
	position: relative;
	background-color: #2ab1ad;
}
.ispam__container {
	position: relative;
	z-index: 556;
	padding: 112px 0px 134px 0px;
}
.ispam__bolb {
	position: absolute;
	left: 420px;
	top: 0px;
	z-index: 1;
}
.ispam__top {
	display: flex;
	justify-content: space-between;
	margin: 0px 0px 79px 0px;
}

.ispam__title {
	margin: 32px 0px 0px 0px;
}
.title {
}
.ispam__dog {
	position: relative;
	top: -32px;
	margin: -160px 0px 0px 0px;
	z-index: 55;
}
.ispam__bottom {
}
.ispam__row {
	display: flex;
	margin: 0px -37.5px;
}
.ispam__column {
	display: flex;
	flex: 0 1 25%;
	padding: 0px 37.5px;
}
.ispam__image {
	margin: 0px 11px 0px 0px;
}
.ispam__body {
	margin: 10px 0px 0px 0px;
}
.ispam__number {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16666;
	color: #ffffff;
}
.ispam__text {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #5d62b5;
}
/* ---------------------------------tempor------------------------------ */
.tempor {
	background: #f5f5f5;
	margin: -75px 0px 0px 0px;
}
.tempor__container {
	position: relative;
	z-index: 3;
	background: #5d62b5;
	border-radius: 20px;
	min-height: 150px;
	display: flex;
	padding: 0px 70px;
	justify-content: space-between;
	align-items: center;
}
.tempor__text {
	font-weight: 900;
	font-size: 24px;
	line-height: 1.25;
	color: #ffffff;
}
.tempor__button {
}

/* --------------------------------------footer------------------------------------------ */
.footer {
	background: #f5f5f5;
}
.footer__top {
	padding: 88px 0px 98px 0px;
}
.footer__row {
	display: flex;
	margin: 0px -80px;
}
.footer__column {
	padding: 0px 80px;
	flex: 0 1 33.3333%;
}
.footer__logo {
	margin: 0px 0px 23px 0px;
}
.footer__text {
	margin: 0px 0px 33px 0px;
	font-size: 14px;
	line-height: 1.57;
	letter-spacing: 0.15px;
	color: #4b4b4b;
}
.footer__social {
}
.footer__button {
}
.footer__button:not(:last-child) {
	margin: 0px 18px 0px 0px;
}
.footer__label {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.25;
	letter-spacing: 0.15px;
	color: #4b4b4b;
	padding: 20px 0px 0px 0px;
	margin: 0px 0px 28px 0px;
	text-transform: uppercase;
}
.footer__links {
	display: flex;
	flex-wrap: wrap;
	margin: -7.5px -52px;
	justify-content: space-between;
}
.footer__skin {
	flex: 0 1 50%;
	padding: 7.5px 52px;
}
.footer__link {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.25;
	letter-spacing: 0.15px;
	color: #4b4b4b;
}

.footer__contact {
	font-size: 14px;
	line-height: 1.25;
	letter-spacing: 0.15px;
	color: #4b4b4b;
}
.footer__contact div:not(:last-child) {
	margin: 0px 0px 16px 0px;
}
.footer__label {
}
.footer__palce {
	padding: 0px 0px 0px 34px;
	background: url("../img/footer/icons/place.svg") 0px 2px no-repeat;
}
.footer__phone {
	padding: 0px 0px 0px 34px;
	background: url("../img/footer/icons/phone.svg") 0 2px no-repeat;
}
.footer__email {
	padding: 0px 0px 0px 34px;
	background: url("../img/footer/icons/email.svg") 0 2px no-repeat;
}
.footer__timer {
	padding: 0px 0px 0px 34px;
	background: url("../img/footer/icons/timer.svg") 0 2px no-repeat;
}
.footer__bottom {
	height: 60px;
	background-color: #5d62b5;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #ffffff;
}
.footer__left {
}
.footer__right {
}
.footer__right_bold {
	font-weight: 700;
}
